<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caatulgupta.movietimes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Movie Times"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetails"
            android:label="@string/title_activity_movie_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TVDetails"
            android:label="@string/title_activity_tvdetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CastDetails"
            android:label="@string/title_activity_cast_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>